<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Curiora Research
        {% endblock %}
    </title>


    <link
        rel="stylesheet"
        href="/static/css/research.css"
    >

    <link
        rel="stylesheet"
        href="/static/css/visual-intelligence.css"
    >

</head>


<body>

    {% block content %}
    {% endblock %}


    <script
        src="/static/js/research.js"
    ></script>

    <script
        src="/static/js/visual-intelligence.js"
    ></script>

</body>

</html>